@media only screen and (min-width: 992px) {

  .alignIcons{
    margin-top: auto;
  }



}

@media only screen and (max-width: 600px) {

  .alignIcons{
    margin-top: 30px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .marginAround{
    margin-left: auto;
    margin-right: auto;

  }


}
