/* // Medium devices (tablets, 768px and up) */
/* @media only screen and (min-width: 992px) { */
@media (min-width: 768px) {


  .portifolio{
    width: 25%;
  }


}
/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 767px) {



  .portifolio{
    width: 100%;
  }

  .gif{
    width: 100% !important;
  }

}


@media (min-width: 1441px) {


  .giantScreens {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .giantScreens div{
    margin: -5px !important;
  }

  .giantScreensImg {
    text-align: center;
  }

 }

 .erase{
   opacity: .1;
 }


/* } */
